<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392545068869-78oe97uor9umtlau3oasjb7qpghu3126.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392545068869-78oe97uor9umtlau3oasjb7qpghu3126</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>392545068869-6bn3aenuiofsjbi68j8javgos22gv2m8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxP-3j4bQXk58XoQRjqupQEAJOLd230qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>392545068869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lenseat.app</string>
	<key>PROJECT_ID</key>
	<string>lenseat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lenseat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392545068869:ios:864f263e8aac75d00e402c</string>
</dict>
</plist>